.editor_container {
    .editor_top {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #f7f7f7;

        .editor_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            width: 1200px;
            background-color: #FFF;

            .editor_top_back {
                cursor: pointer;
                font-size: 18px;
            }
        }
    }

    .editor_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .editor_content {
            width: 1200px;

        }
    }
}

.upload_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 86px;
    background-color: #fafafa;
    border: 1px dashed #e5e6eb;
    cursor: pointer;
}